<div>
  <h1 class="logo-wrapper">  
    <a href="<%- url_for('.') %>"><%- config.title %></a>
  </h1>



  <% if (page.posts) { %>
    <nav>
      <% page.posts.forEach(function(post, i) { %>
        <div>
          <a href="<%= path %>#post_<%= post.id %>" class="archive-post-link">
            <%= post.title %>
          </a>
        </div>
      <% }) %>
    </nav>
  <% } %>
</div>