<% if (!is_post()) { %>  
  <nav class="pagination">  
    <% if (page.prev) { %>  
      <a class="prev" href="<%- url_for(page.prev_link) %>">  
        <%- __('posts.prev') %>
      </a>  
    <% } %>  
    <% if (page.next) { %>  
      <a class="next" href="<%- url_for(page.next_link) %>">  
        <%- __('posts.next') %>
      </a>  
    <% } %>  
  </nav>  
<% } else { %>  
  <nav class="post-nav">  
    <% if (page.prev && page.prev.path) { %>  
      <a class="prev" href="<%- url_for(page.prev.path) %>">  
        &#10096; <%- page.prev.title %>
      </a>  
    <% } %>  
    <% if (page.next && page.next.path) { %>  
      <a class="next" href="<%- url_for(page.next.path) %>">  
        <%- page.next.title %> &#10097;
      </a>  
    <% } %>  
  </nav>  
<% } %>  
